extends ../layout.pug

block title 
    title #{title}
    script(src=`https://api-maps.yandex.ru/v3/?apikey=${API_KEY}&lang=ru_RU`)

block content 
    h1 Фото
    img(src=`/${upload.filePath}`, alt="Ваше фото")
    div(id="map", style="width: 600px; height: 400px")

    script.
        const upload = !{JSON.stringify(upload)};

    script(type="module").

        ymaps3.import.registerCdn('https://cdn.jsdelivr.net/npm/{package}', [
            '@yandex/ymaps3-default-ui-theme@latest'
        ]);

        initMap();

        async function initMap() {
            await ymaps3.ready;

            const { YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer } = ymaps3;
            const { YMapDefaultMarker } = await ymaps3.import('@yandex/ymaps3-default-ui-theme')

            let lat = 37.588144, lon = 55.733842;

            if (upload.coordinates.lat && upload.coordinates.lon) {
                lat = upload.coordinates.lat;
                lon = upload.coordinates.lon;
            }

            const map = new YMap(document.getElementById("map"), {
                location: {
                center: [lon, lat],
                zoom: 10,
                },
            });

            map.addChild(new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());

            map.addChild(
                new YMapDefaultMarker({
                    coordinates: [lon, lat],
                    title: "Сделано здесь",
                })
            );
        }
