nav.navigation
    .nav-container
        .logo
            a(href="/") 📸 PhotoGPS
        ul.nav-links
            li: a(href="/") Главная
            li: a(href="/upload") Загрузить
            li: a(href="/stats") Статистика